{% load static %}

<html>
    <head>
        <title>Automatic music generation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>

    <body>

        <div id="main_box" class="container">
            <h1 style="font-family: 'Georgia'; padding-top: 0.3cm;"><b>Automatic Music Generation</b></h1>
            <h1 style="font-family: 'Georgia'; padding-top: 0.3cm;"><b>Welcome {{user}}</b></h1>
            <div style="padding-top: 0.5cm;">
                <!--<div align="right">
                    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#SignupForm"><i class="fa fa-user"></i>&nbsp<b>Sign up</b></a>&nbsp &nbsp &nbsp
                    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#LoginForm"><i class="fa fa-sign-in"></i>&nbsp<b>Login</b></a>
                </div>-->
                <div align="left">
                    <a href="{% static 'Automatic Music Generation Report.pdf' %}" download><button class="btn"><i class="fa fa-download"></i>&nbsp<b>Report</b></button></a>&nbsp &nbsp &nbsp
                    <button align="left" class="btn" onclick="window.alert('Developers won\'t reveal their identity for now')"><i class="fa fa-gears"></i>&nbsp<b>Know about the developers</b></button>&nbsp &nbsp &nbsp
                    <button class="btn" onclick="window.alert('Contact us at: amg.fcrit2022@gmail.com')"><i class="fa fa-send"></i>&nbsp<b>Contact Us</b></button>&nbsp &nbsp &nbsp
                </div>
            </div>
            <div class="row" style="padding-top: 0.3cm; padding-bottom: 0.5cm;">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="mybox">
                        <p style="padding-left: 0.2cm; padding-right: 0.2cm;" align="justify">
                        The development of computer technologies and smart devices brought a turning point in music creation. 
                        Many individual and independent developers are in need of their own music for their own apps, 
                        and increasing people try to express their own personalities with their own style of ring tones. 
                        Therefore, the individual users are now trying to create their own music. 
                        However, the composition of music requires deep knowledge about music which cannot be easily obtained. 
                        Ordinary people have unfortunately little time to learn music composition techniques. 
                        Therefore, easy and automated composition of music for individual purposes will become more and more important. 
                        This can be achieved using Automatic Music Generation. 
                        Professional musicians also extensively use Deep Learning for their music generation. 
                        Deep learning has become an indispensable tool in the field of automated music generation. 
                        Numerous deep learning architectures have been studies to perform music generation tasks
                        Automatic Music Generation is a process of composing a short piece of music using minimum human intervention.
                        </p>
                    </div><br>
                    <div align="center"><button class="glow" onclick="window.location.href='{% url 'amg' %}';"><i class="fa fa-music"></i>&nbsp<b>Generate Music</b></button></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'images/pic1.png' %}" style="height:auto; width:100%">
                </div>
        </div>
    </body>
</html>